/* Reset CSS */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*box-shadow: 1px 1px 1px 1px red;*/
}
.center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2%;
}
.main {
  padding: 40px;
  width: 100%;
  background-image: linear-gradient(to  bottom, #da5700, #ff7b00);  
}


.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3 {
  color: #fff;
}

.menu a {
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.menu a:hover {
  background-color: #fff;
  color: #da5700 ;
}

.banner {
  background-image: url('./janitors.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .center{
  padding: 100px;
  text-align: center;
}

.banner .center h1{
  font-size: 60px;
  text-transform: uppercase;
}

.banner .center p{
  font-size: 24px;
  text-transform: uppercase;
}

.benefits {
  padding: 60px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-single {
  border-radius: 4px;
  max-width: 48%;
  padding: 30px;
  margin: 10px 0px;
  box-shadow: 1px 1px 4px #5c5c5c;
}

.content-single:hover {
   box-shadow: 1px 1px 10px #086100;
   transform: scale(1.01);
}

.content-single h3{
  text-align: justify;
  color: #086100;
  margin-bottom: 10px;
}  

.content-single p{
  text-align: justify;
}  


.form {
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: #fff;
}

.form h2 {
  text-transform: uppercase;
}

.items-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.items-form input {
  padding: 10px;
  margin: 4px;
  background-color: #da5700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
}

input::placeholder {
  color: #fff;
}

input[type='submit'] {
  font-weight: bold;
  font-size: 14px;
}

input[type='submit']:hover {
  background-color: #fff;
  color: #da5700;
  cursor: pointer;
}

.footer {
  margin: 10px auto;
  bottom: 0;
}  

.author {
  display: flex;
  justify-content: center;
}
.footer a{
  text-decoration: none;
  margin: 0px 10px;
  color: #da5700;
}  

